html,body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: royalblue;
}
button{
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
  color: #fff;
  display:block;
  width:150px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 8px 16px;
  margin: 20px auto;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;        
  }
  button {
  background-color: rgb( 43, 153, 91 );
  border: 1px solid rgb( 33, 126, 74 );
  }
          
  button:hover {
  background-color: rgb( 75, 183, 141 );
  }
.flex1{
  font-size: 30px;
  color: gold;
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
table {
  width: 100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 18px;
  border-collapse: collapse;
  text-align: center;
  }
  th, td:first-child {
  background: #AFCDE7;
  color: white;
  padding: 10px 20px;
  }
  th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
  }
  td {
  background: #D8E6F3;
  }
  th:first-child, td:first-child {
  text-align: left;
  }
  strong{
    font-size: 20px;
    color: red;
  }
  .number{
    font-size: 40px;
  }